{% extends './base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">

            <h1 class="text-center">Chirps!</h1>
            {% for chirp in chirps %}
            <div class="alert alert-light" role="alert">
                <p><strong>@{{chirp.user.username}}</strong>: {{chirp.body}}  <small class="text-muted">({{chirp.created_at}})</small></p>
            </div>
            {% endfor %}
        
        </div>

        <div class="col-4 text-center">
            <br><br>
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Chirp!</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

